(
    name: BattleMech,
    faction: MachineCult,
    card_type: Ship,
    cost: 5,
    effect: Sequence([
        Resource(Combat, 4),
        May(Scrap(HandOrDiscardPile, 1)),
        If(HasAlly(MachineCult), Draw(Number(1))),
    ]),
)
