(
    name: Battlecruiser,
    faction: StarEmpire,
    card_type: Ship,
    cost: 6,
    effect: Sequence([
        Base(Resource(Combat, 5)),
        Draw(Number(1)),
        If(HasAlly(StarEmpire), Base(OpponentDiscards)),
        On(Scrap, Sequence([
            Draw(Number(1)),
            May(Base(DestroyTargetBase)),
        ])),
    ]),
)
