(
    name: Battlecruiser,
    faction: StarEmpire,
    card_type: Ship,
    cost: 6,
    effects: [
        Resource(Combat, 5),
        Draw(Number(1)),
        Ally(StarEmpire, OpponentDiscards),
        ScrapAbility(Sequence([
            Draw(Number(1)),
            May(DestroyTargetBase),
        ])),
    ],
)
