(
    name: BattlePod,
    faction: Blob,
    card_type: Ship,
    cost: 2,
    effect: Sequence([
        Resource(Combat, 4),
        May(ScrapCardInRow),
        If(HasAlly(Blob), Resource(Combat, 2)),
    ]),
)
