(
    name: BattlePod,
    faction: Blob,
    card_type: Ship,
    cost: 2,
    effect: Sequence([
        Base(Resource(Combat, 4)),
        May(Base(ScrapCardInRow)),
        If(HasAlly(Blob), Base(Resource(Combat, 2))),
    ]),
)
