(
    name: BattleMech,
    faction: MachineCult,
    card_type: Ship,
    cost: 5,
    effects: [
        Resource(Combat, 4),
        May(Scrap(HandOrDiscardPile, 1)),
        Ally(MachineCult, Draw(Number(1))),
    ],
)
