(
    name: "Battle Blob",
    faction: Blob,
    card_type: Ship,
    cost: 6,
    effect: Sequence([
        TargetedEffect(Resource(Attack, 8)),
        If(HasAlly(Blob), Draw(Number(1))),
        On(Scrap, TargetedEffect(Resource(Attack, 4))),
    ]),
)
