(
    name: BlobDestroyer,
    faction: Blob,
    card_type: Ship,
    cost: 4,
    effects: [
        Resource(Combat, 6),
        If(HasAlly(Blob), May(AndOr(DestroyTargetBase, ScrapCardInRow))),
    ],
)
