(
    name: BlobCarrier,
    faction: Blob,
    card_type: Ship,
    cost: 6,
    effect: Sequence([
        Resource(Combat, 7),
        If(HasAlly(Blob), AquireShipForFree(to_top_of_deck: true, max_cost: None)),
    ]),
)
