(
    name: "Blob Fighter",
    faction: Blob,
    card_type: Ship,
    cost: 1,
    effect: Sequence([
        TargetedEffect(Resource(Attack, 3)),
        If(HasAlly(Blob), Draw(Number(1))),
    ]),
)
