(
    name: BlobWheel,
    faction: Blob,
    card_type: Base(defense: 5, it_outpost: false),
    cost: 3,
    effect: Sequence([
        Base(Resource(Combat, 1)),
        On(Scrap, Base(Resource(Trade, 3))),
    ]),
)
