(
    name: BlobDestroyer,
    faction: Blob,
    card_type: Ship,
    cost: 4,
    effect: Sequence([
        Base(Resource(Combat, 6)),
        If(HasAlly(Blob), May(AndOr(Base(DestroyTargetBase), Base(ScrapCardInRow)))),
    ]),
)
