(
    name: BlobCarrier,
    faction: Blob,
    card_type: Ship,
    cost: 6,
    abilities: [
        Resource(Combat, 7),
        Ally(Blob, AquireShipForFree(to_top_of_deck: true, max_cost: None)),
    ],
)
