(
    name: "Blob Carrier",
    faction: Blob,
    card_type: Ship,
    cost: 6,
    effect: Sequence([
        TargetedEffect(Resource(Attack, 7)),
        If(HasAlly(Blob), TargetedEffect(AquireShipForFree(to_top_of_deck: true, max_cost: None))),
    ]),
)
