(
    name: CentralOffice,
    faction: TradeFederation,
    card_type: Base(defense: 6, is_outpost: false),
    cost: 7,
    effects: [
        Resource(Trade, 2),
        May(NextAcquiredShipToTopOfDeck),
        If(HasAlly(TradeFederation), Draw(Number(1))),
    ],
)
