(
    name: CommandShip,
    faction: TradeFederation,
    card_type: Ship,
    cost: 8,
    effect: Sequence([
        Base(Resource(Authority, 4)),
        Base(Resource(Combat, 5)),
        Draw(Number(2)),
        If(HasAlly(TradeFederation), Base(DestroyTargetBase)),
    ]),
)
