(
    name: "Command Ship",
    faction: TradeFederation,
    card_type: Ship,
    cost: 8,
    effect: Sequence([
        TargetedEffect(Resource(Authority, 4)),
        TargetedEffect(Resource(Attack, 5)),
        Draw(Number(2)),
        If(HasAlly(TradeFederation), TargetedEffect(DestroyTargetBase)),
    ]),
)
