(
    name: Corvette,
    faction: StarEmpire,
    card_type: Ship,
    cost: 2,
    abilities: [
        Resource(Combat, 1),
        Draw(Number(1)),
        Ally(StarEmpire, Resource(Combat, 2)),
    ],
)
