(
    name: Corvette,
    faction: StarEmpire,
    card_type: Ship,
    cost: 2,
    effect: Sequence([
        Resource(Combat, 1),
        Draw(Number(1)),
        If(HasAlly(StarEmpire), Resource(Combat, 2)),
    ]),
)
