(
    name: Corvette,
    faction: StarEmpire,
    card_type: Ship,
    cost: 2,
    effect: Sequence([
        Base(Resource(Combat, 1)),
        Draw(Number(1)),
        If(HasAlly(StarEmpire), Base(Resource(Combat, 2))),
    ]),
)
