(
    name: Cutter,
    faction: TradeFederation,
    card_type: Ship,
    cost: 2,
    effect: Sequence([
        Base(Resource(Authority, 4)),
        Base(Resource(Trade, 2)),
        If(HasAlly(TradeFederation), Base(Resource(Combat, 4))),
    ]),
)
