(
    name: "Cutter",
    faction: TradeFederation,
    card_type: Ship,
    cost: 2,
    effect: Sequence([
        TargetedEffect(Resource(Authority, 4)),
        TargetedEffect(Resource(Trade, 2)),
        If(HasAlly(TradeFederation), TargetedEffect(Resource(Attack, 4))),
    ]),
)
