(
    name: Cutter,
    faction: TradeFederation,
    card_type: Ship,
    cost: 2,
    effects: [
        Resource(Authority, 4),
        Resource(Trade, 2),
        Ally(TradeFederation, Resource(Combat, 4)),
    ],
)
