(
    name: DefenseCenter,
    faction: TradeFederation,
    card_type: Base(defense: 5, it_outpost: true),
    cost: 5,
    effect: Sequence([
        Or(Base(Resource(Authority, 3)), Base(Resource(Combat, 2))),
        If(HasAlly(TradeFederation), Base(Resource(Combat, 2))),
    ]),
)
