(
    name: Dreadnaught,
    faction: StarEmpire,
    card_type: Ship,
    cost: 7,
    effect: Sequence([
        Base(Resource(Combat, 7)),
        Draw(Number(1)),
        On(Scrap, Base(Resource(Combat, 5))),
    ]),
)
