(
    name: Dreadnaught,
    faction: StarEmpire,
    card_type: Ship,
    cost: 7,
    abilities: [
        Resource(Combat, 7),
        Draw(Number(1)),
        ScrapAbility(Resource(Combat, 5)),
    ],
)
