(
    name: Dreadnaught,
    faction: StarEmpire,
    card_type: Ship,
    cost: 7,
    effect: Sequence([
        Resource(Combat, 7),
        Draw(Number(1)),
        On(Scrap, Resource(Combat, 5)),
    ]),
)
