(
    name: "Embassy Yacht",
    faction: TradeFederation,
    card_type: Ship,
    cost: 3,
    effect: Sequence([
        TargetedEffect(Resource(Authority, 3)),
        TargetedEffect(Resource(Trade, 2)),
        If(BaseCountAtLeast(2), Draw(Number(2))),
    ]),
)
