(
    name: FederationShuttle,
    faction: TradeFederation,
    card_type: Ship,
    cost: 1,
    abilities: [
        Resource(Trade, 2),
        Ally(TradeFederation, Resource(Authority, 4)),
    ],
)
