(
    name: Flagship,
    faction: TradeFederation,
    card_type: Ship,
    cost: 6,
    effect: Sequence([
        Resource(Combat, 5),
        Draw(Number(1)),
        If(HasAlly(TradeFederation), Resource(Authority, 5)),
    ]),
)
