(
    name: Flagship,
    faction: TradeFederation,
    card_type: Ship,
    cost: 6,
    effect: Sequence([
        Base(Resource(Combat, 5)),
        Draw(Number(1)),
        If(HasAlly(TradeFederation), Base(Resource(Authority, 5))),
    ]),
)
