(
    name: Freighter,
    faction: TradeFederation,
    card_type: Ship,
    cost: 4,
    effect: Sequence([
        Resource(Trade, 4),
        If(HasAlly(TradeFederation), May(NextAcquiredShipToTopOfDeck)),
    ]),
)
