(
    name: ImperialFrigate,
    faction: StarEmpire,
    card_type: Ship,
    cost: 3,
    effects: [
        Resource(Combat, 4),
        OpponentDiscards,
        If(HasAlly(StarEmpire), Resource(Combat, 2)),
        ScrapAbility(Draw(Number(1))),
    ],
)
