(
    name: ImperialFighter,
    faction: StarEmpire,
    card_type: Ship,
    cost: 1,
    effect: Sequence([
        Resource(Combat, 2),
        OpponentDiscards,
        If(HasAlly(StarEmpire), Resource(Combat, 2)),
    ]),
)
