(
    name: ImperialFighter,
    faction: StarEmpire,
    card_type: Ship,
    cost: 1,
    abilities: [
        Resource(Combat, 2),
        OpponentDiscards,
        Ally(StarEmpire, Resource(Combat, 2)),
    ],
)
