(
    name: MissileBot,
    faction: MachineCult,
    card_type: Ship,
    cost: 2,
    abilities: [
        Resource(Combat, 2),
        May(Scrap("HAND | DISCARD_PILE", 1)),
        Ally(MachineCult, Resource(Combat, 2)),
    ],
)
