(
    name: MissileMech,
    faction: MachineCult,
    card_type: Ship,
    cost: 6,
    abilities: [
        Resource(Combat, 6),
        May(DestroyTargetBase),
        Ally(MachineCult, Draw(Number(1))),
    ],
)
