(
    name: MissileBot,
    faction: MachineCult,
    card_type: Ship,
    cost: 2,
    effects: [
        Resource(Combat, 2),
        May(Scrap(HandOrDiscardPile, 1)),
        If(HasAlly(MachineCult), Resource(Combat, 2)),
    ],
)
