(
    name: MissileMech,
    faction: MachineCult,
    card_type: Ship,
    cost: 6,
    effect: Sequence([
        Base(Resource(Combat, 6)),
        May(Base(DestroyTargetBase)),
        If(HasAlly(MachineCult), Draw(Number(1))),
    ]),
)
