(
    name: PatrolMech,
    faction: MachineCult,
    card_type: Ship,
    cost: 4,
    effect: Sequence([
        Or(Base(Resource(Trade, 3)), Base(Resource(Combat, 5))),
        If(HasAlly(MachineCult), May(Base(Scrap(HandOrDiscardPile, 1)))),
    ]),
)
