(
    name: "Port of Call",
    faction: TradeFederation,
    card_type: Base(defense: 6, it_outpost: true),
    cost: 6,
    effect: Sequence([
        TargetedEffect(Resource(Trade, 3)),
        On(Scrap, Sequence([
            Draw(Number(1)),
            May(TargetedEffect(DestroyTargetBase)),
        ])),
    ]),
)
