(
    name: PortofCall,
    faction: TradeFederation,
    card_type: Base(defense: 6, is_outpost: true),
    cost: 6,
    effects: [
        Resource(Trade, 3),
        On(Scrap, Sequence([
            Draw(Number(1)),
            May(DestroyTargetBase),
        ])),
    ],
)
