(
    name: Ram,
    faction: Blob,
    card_type: Ship,
    cost: 3,
    effect: Sequence([
        Base(Resource(Combat, 5)),
        If(HasAlly(Blob), Base(Resource(Combat, 2))),
        On(Scrap, Base(Resource(Trade, 3))),
    ]),
)
