(
    name: Ram,
    faction: Blob,
    card_type: Ship,
    cost: 3,
    effect: Sequence([
        Resource(Combat, 5),
        If(HasAlly(Blob), Resource(Combat, 2)),
        On(Scrap, Resource(Trade, 3)),
    ]),
)
