(
    name: "Ram",
    faction: Blob,
    card_type: Ship,
    cost: 3,
    effect: Sequence([
        TargetedEffect(Resource(Attack, 5)),
        If(HasAlly(Blob), TargetedEffect(Resource(Attack, 2))),
        On(Scrap, TargetedEffect(Resource(Trade, 3))),
    ]),
)
