(
    name: RecyclingStation,
    faction: StarEmpire,
    card_type: Base(defense: 4, is_outpost: true),
    cost: 4,
    effects: [Or(Resource(Trade, 1), May(Or(Sequence([
        Discard(1),
        Draw(Number(1)),
    ]), Sequence([
        Discard(2),
        Draw(Number(2)),
    ]))))],
)
