(
    name: RecyclingStation,
    faction: StarEmpire,
    card_type: Base(defense: 4, it_outpost: true),
    cost: 4,
    effect: Or(Base(Resource(Trade, 1)), May(Or(Sequence([
        Base(Discard(1)),
        Draw(Number(1)),
    ]), Sequence([
        Base(Discard(2)),
        Draw(Number(2)),
    ])))),
)
