(
    name: RoyalRedoubt,
    faction: StarEmpire,
    card_type: Base(defense: 6, it_outpost: true),
    cost: 6,
    effect: Sequence([
        Resource(Combat, 3),
        If(HasAlly(StarEmpire), OpponentDiscards),
    ]),
)
