(
    name: SpaceStation,
    faction: StarEmpire,
    card_type: Base(defense: 4, it_outpost: true),
    cost: 4,
    effect: Sequence([
        Resource(Combat, 2),
        If(HasAlly(StarEmpire), Resource(Combat, 2)),
        On(Scrap, Resource(Trade, 4)),
    ]),
)
