(
    name: "Space Station",
    faction: StarEmpire,
    card_type: Base(defense: 4, it_outpost: true),
    cost: 4,
    effect: Sequence([
        TargetedEffect(Resource(Attack, 2)),
        If(HasAlly(StarEmpire), TargetedEffect(Resource(Attack, 2))),
        On(Scrap, TargetedEffect(Resource(Trade, 4))),
    ]),
)
