(
    name: SupplyBot,
    faction: MachineCult,
    card_type: Ship,
    cost: 3,
    effect: Sequence([
        Base(Resource(Trade, 2)),
        May(Base(Scrap(HandOrDiscardPile, 1))),
        If(HasAlly(MachineCult), Base(Resource(Combat, 2))),
    ]),
)
