(
    name: SupplyBot,
    faction: MachineCult,
    card_type: Ship,
    cost: 3,
    effects: [
        Resource(Trade, 2),
        May(Scrap(HandOrDiscardPile, 1)),
        Ally(MachineCult, Resource(Combat, 2)),
    ],
)
