(
    name: SurveyShip,
    faction: StarEmpire,
    card_type: Ship,
    cost: 3,
    abilities: [
        Resource(Trade, 1),
        Draw(Number(1)),
        ScrapAbility(OpponentDiscards),
    ],
)
