(
    name: SurveyShip,
    faction: StarEmpire,
    card_type: Ship,
    cost: 3,
    effect: Sequence([
        Base(Resource(Trade, 1)),
        Draw(Number(1)),
        On(Scrap, Base(OpponentDiscards)),
    ]),
)
