(
    name: TheHive,
    faction: Blob,
    card_type: Base(defense: 5, it_outpost: false),
    cost: 5,
    effect: Sequence([
        Resource(Combat, 3),
        If(HasAlly(Blob), Draw(Number(1))),
    ]),
)
