(
    name: TradeEscort,
    faction: TradeFederation,
    card_type: Ship,
    cost: 5,
    abilities: [
        Resource(Authority, 4),
        Resource(Combat, 4),
        Ally(TradeFederation, Draw(Number(1))),
    ],
)
