(
    name: "Trade Escort",
    faction: TradeFederation,
    card_type: Ship,
    cost: 5,
    effect: Sequence([
        TargetedEffect(Resource(Authority, 4)),
        TargetedEffect(Resource(Attack, 4)),
        If(HasAlly(TradeFederation), Draw(Number(1))),
    ]),
)
