(
    name: TradeBot,
    faction: MachineCult,
    card_type: Ship,
    cost: 1,
    abilities: [
        Resource(Trade, 1),
        May(Scrap("HAND | DISCARD_PILE", 1)),
        Ally(MachineCult, Resource(Combat, 2)),
    ],
)
