(
    name: TradingPost,
    faction: TradeFederation,
    card_type: Base(defense: 4, it_outpost: true),
    cost: 3,
    effect: Sequence([
        Or(Base(Resource(Authority, 1)), Base(Resource(Trade, 1))),
        On(Scrap, Base(Resource(Combat, 3))),
    ]),
)
