(
    name: TradeBot,
    faction: MachineCult,
    card_type: Ship,
    cost: 1,
    effect: Sequence([
        Base(Resource(Trade, 1)),
        May(Base(Scrap(HandOrDiscardPile, 1))),
        If(HasAlly(MachineCult), Base(Resource(Combat, 2))),
    ]),
)
