(
    name: "War World",
    faction: StarEmpire,
    card_type: Base(defense: 4, it_outpost: true),
    cost: 5,
    effect: Sequence([
        TargetedEffect(Resource(Attack, 3)),
        If(HasAlly(StarEmpire), TargetedEffect(Resource(Attack, 4))),
    ]),
)
