(
    name: WarWorld,
    faction: StarEmpire,
    card_type: Base(defense: 4, it_outpost: true),
    cost: 5,
    effects: [
        Resource(Combat, 3),
        If(HasAlly(StarEmpire), Resource(Combat, 4)),
    ],
)
