(
    name: WarWorld,
    faction: StarEmpire,
    card_type: Base(defense: 4, it_outpost: true),
    cost: 5,
    effect: Sequence([
        Base(Resource(Combat, 3)),
        If(HasAlly(StarEmpire), Base(Resource(Combat, 4))),
    ]),
)
